<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Times New Roman, Times, serif;
  margin: 0;
}


.about-section {
  padding: 100px;
  text-align: center;
  background-color: #DA70D6;
  color: white;
}



@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: inherit;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>NALAIYATHIRAN </h1>
  <p>PROJECT TITLE : SMART FASHION RECOMMENDER APPLICATION </p>
  <p>TEAM MEMBERS : 4</p>
  <p>TEAM LEAD : SUJI PRIYA R </p>
  <p>TEAM MEMBER 1 : SELVANAYAKI G </p>
  <p>TEAM MEMBER 2 : SHAILESH B </p>
  <p>TEAM MEMBER 3 : VINOTHINI M </p>
</div>
  

</body>
</html>